<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Index</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
	<br>
		
		<h3>Welcome to TicketGuru</h3>	
		
		<a href="/h2-console"><button>h2</button></a>
		<a href="/api/appusers"><button>Käyttäjätunnukset</button></a>
		<a href="/api/events"><button>Tapahtumat</button></a>
		<a href="/api/postalcodes"><button>Postikoodit</button></a>
		<a href="/api/roles"><button>Roolit</button></a>
		<a href="/api/tickets"><button>Liput</button></a>
		<a href="/api/tickettypes"><button>Lipputyypit</button></a>
		<a href="/api/transactions"><button>Transaktiot</button></a>
		<a href="/api/venues"><button>Tapahtumapaikat</button></a>
	</div>
</body>
</html>